<!DOCTYPE html>
<html class="screen-top">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page title</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700&amp;family=Sora:wght@400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" id="bs-base-fonts">
    <link rel="stylesheet" href="/styles/landing/tailwind.min.css?v=1">
    <link href="/styles/landing/shuffle-preview.1f8cac6f.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js" defer=""></script>
    <script src="/scripts/landing/tailconfig.js"></script>
    <script src="/scripts/landing/runtime.8190f9b9.js" defer=""></script>
    <script src="/scripts/landing/tailwind.e509ab58.js" defer=""></script>

    <style type="text/css" id="bs-recompiled-css">

    </style>
    <style>
        body {
            font-family: 'Poppins' !important;
        }

        .header-bg {
            background-color: rgb(143, 6, 255);
        }

        .main-page-header {
            padding-bottom: 6rem;
        }

        .btn-fill {
            background: #9E30FF !important;
        }

        .btn-nofill {
            color: #9E30FF !important;
        }

        .p-text {
            color: #9E30FF !important;
        }

        .dark-purp-bg {
            background: #811ED7 !important;
        }

        .bg-translucent-p {
            background: #9e30ff33 !important;
        }

        .text-purple-900 {
            color: #9E30FF;
        }

        .header-box {
            width: 100%;
            /* background-color: pink; */
            padding-bottom: 5rem;
            padding-top: 5rem;
        }

        @media (max-width: 915px) {
            .header-star {
                display: none;
            }
        }

        .header-waitlist-btn {
            background: #811ED7 !important;
            font-size: 17px;
            cursor: pointer;
            z-index: 5;
        }

        .faq-bg {
            background-color: #9E30FF;
        }

        .faq-light {
            background-color: #9E30FF;
        }

        .faq-dash {
            color: white;
        }
    </style>

</head>

<body id="page" class="antialiased font-body bg-body text-body">
    <div class="" id="content">

        <section data-section-id="1" data-share="" data-category="navigations" data-component-id="886f4350_03_awz"
            x-data="{ mobileNavOpen: false }" class="overflow-hidden">
            <div class="flex items-center justify-between px-7 xl:px-40 py-5 bg-white" data-config-target=".navbar-menu"
                data-config-class="hidden">
                <div class="w-auto">
                    <div class="flex flex-wrap items-center">
                        <div class="w-auto mr-14">
                            <a href="#">
                                <img src="/images/landing/logo-light-big-1.svg" alt="" data-config-id="img-fe4768-1">
                            </a>
                        </div>
                        <!-- nav bar options -->
                        <div class="w-auto hidden lg:block" style="display: none;">
                            <ul class="flex items-center mr-16">
                                <li class="mr-9 font-medium hover:text-gray-700"><a href="#"
                                        data-config-id="txt-fe4768-1">Features</a></li>
                                <li class="mr-9 font-medium hover:text-gray-700"><a href="#"
                                        data-config-id="txt-fe4768-2">Solutions</a></li>
                                <li class="mr-9 font-medium hover:text-gray-700"><a href="#"
                                        data-config-id="txt-fe4768-3">Resources</a></li>
                                <li class="font-medium hover:text-gray-700"><a href="#"
                                        data-config-id="txt-fe4768-4">Pricing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-auto">
                    <div class="flex flex-wrap items-center">
                        <div class="w-auto hidden mr-5 lg:block">
                            <div class="inline-block">
                                <button
                                    class="py-3 px-5 w-full hover:text-gray-700 font-medium rounded-xl bg-transparent transition ease-in-out duration-200"
                                    type="button" data-config-id="txt-fe4768-9">Sign In</button>
                            </div>
                        </div>
                        <div class="w-auto hidden lg:block">
                            <div class="inline-block">
                                <!-- <button
                                    class="py-3 px-5 w-full text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200"
                                    type="button" data-config-id="txt-fe4768-10">Try 14 Days Free Trial</button> -->
                                <a class="btn-fill relative group inline-block w-full py-3 px-4 text-center text-white font-semibold bg-orange-900 rounded-md overflow-hidden"
                                    href="#">
                                    <div
                                        class="absolute top-0 right-full w-full h-full bg-gray-900 transform group-hover:translate-x-full group-hover:scale-102 transition duration-500">
                                    </div>
                                    <span class="relative" data-config-id="txt-985be4-11">Join Waitlist</span>
                                </a>
                            </div>
                        </div>
                        <div class="w-auto lg:hidden">
                            <button x-on:click="mobileNavOpen = !mobileNavOpen">
                                <svg width="51" height="51" viewBox="0 0 51 51" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_2445_38)">
                                        <path
                                            d="M51 25.5C51 11.4167 39.5833 0 25.5 0C11.4167 0 0 11.4167 0 25.5C0 39.5833 11.4167 51 25.5 51C39.5833 51 51 39.5833 51 25.5Z"
                                            fill="white" />
                                        <path d="M33.6964 29.1429H17.3036M33.6964 21.8571H17.3036" stroke="#333333"
                                            stroke-width="1.36607" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M33.6964 29.1429H17.3036M33.6964 21.8571H17.3036" stroke="#333333"
                                            stroke-width="1.36607" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_2445_38">
                                            <rect width="51" height="51" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>

                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div :class="{'block': mobileNavOpen, 'hidden': !mobileNavOpen}"
                class="hidden fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50">
                <div x-on:click="mobileNavOpen = !mobileNavOpen" class="fixed inset-0 bg-gray-800 opacity-80"></div>
                <nav class="relative z-10 px-9 pt-8 bg-white h-full overflow-y-auto" data-config-target=".navbar-menu"
                    data-config-class="hidden">
                    <div class="flex flex-wrap justify-between h-full">
                        <div class="w-full">
                            <div class="flex items-center justify-between -m-2">
                                <div class="w-auto p-2">
                                    <a class="inline-block" href="#">
                                        <img src="/images/landing/logo-light-big-1.svg" alt=""
                                            data-config-id="img-fe4768-2">
                                    </a>
                                </div>
                                <div class="w-auto p-2">
                                    <button x-on:click="mobileNavOpen = !mobileNavOpen">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" data-config-id="svg-fe4768-2">
                                            <path d="M6 18L18 6M6 6L18 18" stroke="#111827" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center py-16 w-full" style="display: none;">
                            <ul>
                                <li class="mb-12"><a class="font-medium hover:text-gray-700" href="#"
                                        data-config-id="txt-fe4768-5">Features</a></li>
                                <li class="mb-12"><a class="font-medium hover:text-gray-700" href="#"
                                        data-config-id="txt-fe4768-6">Solutions</a></li>
                                <li class="mb-12"><a class="font-medium hover:text-gray-700" href="#"
                                        data-config-id="txt-fe4768-7">Resources</a></li>
                                <li><a class="font-medium hover:text-gray-700" href="#"
                                        data-config-id="txt-fe4768-8">Pricing</a></li>
                            </ul>
                        </div>
                        <div class="flex flex-col justify-end w-full pb-8">
                            <div class="flex flex-wrap">
                                <div class="w-full mb-3">
                                    <div class="block">
                                        <button
                                            class="py-3 px-5 w-full hover:text-gray-700 font-medium rounded-xl bg-transparent transition ease-in-out duration-200"
                                            type="button" data-config-id="txt-fe4768-11">Sign In</button>
                                    </div>
                                </div>
                                <div class="w-full">
                                    <div class="block">
                                        <!-- <button
                                            class="py-3 px-5 w-full text-white font-semibold rounded-xl focus:ring focus:ring-indigo-300 bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-200"
                                            type="button" data-config-id="txt-fe4768-12">Try 14 Days Free Trial</button> -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <div class="header-box">
            <img class="absolute top-0 right-0 mt-10 header-star" src="./images/landing/starRight.svg" alt=""
                data-config-id="img-30de18-2">

            <img class="absolute top-0 left-0 mt-22" src="./images/landing/light-purple-left.png" alt=""
                data-config-id="img-30de18-1">


            <section class="container px-4 md:px-6 mx-auto">
                <div class="grid gap-6 lg:grid-cols-2 lg:gap-12 items-center">
                    <div class="flex flex-col justify-center space-y-8">
                        <div class="space-y-6">
                            <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight leading-tight"
                                style="font-weight: 600;">The
                                easiest
                                way to manage your <span class="p-text">Personal Finances.</span></h1>
                            <p class="text-lg text-gray-600 max-w-[550px]">You can now easily manage your finances. You
                                can
                                view reports yearly, monthly, weekly, even daily easily...</p>
                        </div>
                        <div class="flex flex-wrap gap-4"><button
                                class="header-waitlist-btn inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 rounded-full text-white px-8 py-6 h-auto font-medium"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-download mr-2 h-5 w-5">
                                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                    <polyline points="7 10 12 15 17 10"></polyline>
                                    <line x1="12" x2="12" y1="15" y2="3"></line>
                                </svg>Download now</button>
                            <!-- <button
                                class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border bg-background hover:bg-accent hover:text-accent-foreground rounded-full border-indigo-200 text-indigo-600 px-8 py-6 h-auto font-medium"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-play mr-2 h-5 w-5 fill-indigo-600">
                                    <polygon points="6 3 20 12 6 21 6 3"></polygon>
                                </svg>How it works</button> -->
                        </div>
                        <div class="flex gap-16 mt-12">
                            <div>
                                <div class="text-3xl font-bold">500K+</div>
                                <div class="text-gray-600">Downloaded</div>
                            </div>
                            <div>
                                <div class="text-3xl font-bold">200K+</div>
                                <div class="text-gray-600">Active users</div>
                            </div>
                        </div>
                    </div>
                    <div class="relative mt-10 lg:mt-0 flex justify-center animate-slide-in">
                        <div class="relative">
                            <div class="relative z-10"><img
                                    src="https://preview--twilight-hero-mosaic.lovable.app/lovable-uploads/bc3d20ea-56d2-49eb-986c-a14c145c28b5.png"
                                    alt="Phone Mockup" class="w-auto h-auto max-w-full max-h-[700px] object-contain">
                            </div>
                            <div
                                class="absolute -bottom-6 left-1/2 transform -translate-x-1/2 w-[80%] h-[20px] bg-black opacity-20 blur-xl rounded-full">
                            </div>
                            <div
                                class="absolute -z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[80%] h-[80%] bg-indigo-500 opacity-10 blur-[60px] rounded-full">
                            </div>
                            <div
                                class="absolute -z-10 top-[10%] right-[5%] w-[100px] h-[100px] bg-blue-400 opacity-20 blur-[40px] rounded-full">
                            </div>
                            <div
                                class="absolute -z-10 bottom-[20%] left-[0%] w-[150px] h-[150px] bg-indigo-600 opacity-10 blur-[50px] rounded-full">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section style="display: none;" data-section-id="1" data-share="" data-category="headers"
            data-component-id="44d0b9e2_header7" x-data="{ mobileNavOpen: false }"
            class="relative header-bg main-page-header">
            <img class="absolute top-0 left-0 w-full h-full" src="/images/landing/bg-waves.png" alt=""
                data-config-id="img-378f37-1">
            <nav class="py-6">
                <div class="container mx-auto px-4">
                    <div class="relative flex items-center justify-between">
                        <a href="#" class="inline-block">
                            <img class="h-8" src="/images/landing/logo-white-flow.svg" alt=""
                                data-config-id="img-378f37-2">
                        </a>
                        <ul
                            class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden md:flex">
                            <li class="mr-8"><a class="inline-block text-white hover:text-lime-500 font-medium" href="#"
                                    data-config-id="txt-378f37-3">About us</a></li>
                            <li class="mr-8"><a class="inline-block text-white hover:text-lime-500 font-medium" href="#"
                                    data-config-id="txt-378f37-4">Team</a></li>
                            <li class="mr-8"><a class="inline-block text-white hover:text-lime-500 font-medium" href="#"
                                    data-config-id="txt-378f37-5">Solutions</a></li>
                            <li><a class="inline-block text-white hover:text-lime-500 font-medium" href="#"
                                    data-config-id="txt-378f37-6">Blog</a></li>
                        </ul>
                        <div class="flex items-center justify-end">
                            <div class="hidden md:block">
                                <a href="#"
                                    class="inline-flex group py-2.5 px-4 items-center justify-center text-sm font-medium text-white hover:text-teal-900 border border-white hover:bg-white rounded-full transition duration-200">
                                    <span class="mr-2" data-config-id="txt-378f37-13">Get in touch</span>
                                    <span
                                        class="transform group-hover:translate-x-0.5 transition-transform duration-200">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-1">
                                            <path d="M4.75 10H15.25" stroke="currentColor" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M10 4.75L15.25 10L10 15.25" stroke="currentColor"
                                                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                            <button x-on:click="mobileNavOpen = !mobileNavOpen"
                                class="md:hidden text-white hover:text-lime-500">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-2">
                                    <path d="M5.19995 23.2H26.7999" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M5.19995 16H26.7999" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M5.19995 8.79999H26.7999" stroke="currentColor" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="relative pt-18 pb-24 sm:pb-32 lg:pt-36 lg:pb-62">
                <div class="container mx-auto px-4 relative">
                    <div class="max-w-lg xl:max-w-xl mx-auto text-center">
                        <h1 class="font-heading text-5xl xs:text-7xl xl:text-8xl tracking-tight text-white mb-8"
                            data-config-id="txt-378f37-1">Democratizing Influence for Brands</h1>
                        <p class="max-w-md xl:max-w-none text-lg text-white opacity-80 mb-10"
                            data-config-id="txt-378f37-2">Turn customers into brand ambassadors with authentic social
                            media campaigns that generate real engagement—at a fraction of ad costs.</p>
                        <a href="#" style="
                        background: #000000;
                        color: white;
                        border: 0;
                    " class="inline-flex py-4 px-6 items-center justify-center text-lg font-medium hover:bg-white rounded-full transition duration-200"
                            data-config-id="txt-378f37-7">Join Waitlist</a>
                    </div>
                </div>
            </div>
            <div :class="{'block': mobileNavOpen, 'hidden': !mobileNavOpen}"
                class="hidden fixed top-0 left-0 bottom-0 w-full xs:w-5/6 xs:max-w-md z-50">
                <div x-on:click="mobileNavOpen = !mobileNavOpen" class="fixed inset-0 bg-violet-900 opacity-20"></div>
                <nav class="relative flex flex-col py-7 px-10 w-full h-full bg-white overflow-y-auto">
                    <div class="flex items-center justify-between">
                        <a href="#" class="inline-block">
                            <img class="h-8" src="flow-assets/logos/sign-logo-flow.svg" alt=""
                                data-config-id="img-378f37-3">
                        </a>
                        <div class="flex items-center">
                            <a href="#"
                                class="inline-flex py-2.5 px-4 mr-6 items-center justify-center text-sm font-medium text-teal-900 hover:text-white border border-teal-900 hover:bg-teal-900 rounded-full transition duration-200"
                                data-config-id="txt-378f37-8">Login</a>
                            <button x-on:click="mobileNavOpen = !mobileNavOpen">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-3">
                                    <path d="M23.2 8.79999L8.80005 23.2M8.80005 8.79999L23.2 23.2" stroke="#1D1F1E"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="pt-20 pb-12 mb-auto">
                        <ul class="flex-col">
                            <li class="mb-6">
                                <a class="inline-block text-teal-900 hover:text-teal-700 font-medium" href="#"
                                    data-config-id="txt-378f37-9">About us</a>
                            </li>
                            <li class="mb-6">
                                <a class="inline-block text-teal-900 hover:text-teal-700 font-medium" href="#"
                                    data-config-id="txt-378f37-10">Team</a>
                            </li>
                            <li class="mb-6">
                                <a class="inline-block text-teal-900 hover:text-teal-700 font-medium" href="#"
                                    data-config-id="txt-378f37-11">Solutions</a>
                            </li>
                            <li>
                                <a class="inline-block text-teal-900 hover:text-teal-700 font-medium" href="#"
                                    data-config-id="txt-378f37-12">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex items-center justify-between">
                        <a href="#" class="inline-flex items-center text-lg font-medium text-teal-900">
                            <span>
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-4">
                                    <path
                                        d="M6.4 6.39999H25.6C26.92 6.39999 28 7.47999 28 8.79999V23.2C28 24.52 26.92 25.6 25.6 25.6H6.4C5.08 25.6 4 24.52 4 23.2V8.79999C4 7.47999 5.08 6.39999 6.4 6.39999Z"
                                        stroke="#646A69" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                    <path d="M28 8.8L16 17.2L4 8.8" stroke="#646A69" stroke-width="1.5"
                                        stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                            <span class="ml-2" data-config-id="txt-378f37-14">Newsletter</span>
                        </a>
                        <div class="flex items-center">
                            <a href="#" class="inline-block mr-4">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-5">
                                    <g clip-path="url(#clip0_282_7847)">
                                        <path
                                            d="M11.548 19.9999V10.8776H14.6087L15.0679 7.32146H11.548V5.05136C11.548 4.02209 11.8326 3.32066 13.3103 3.32066L15.1918 3.31988V0.139123C14.8664 0.0968385 13.7495 -0.000106812 12.4495 -0.000106812C9.73488 -0.000106812 7.87642 1.65686 7.87642 4.69916V7.32146H4.8064V10.8776H7.87642V19.9999H11.548Z"
                                            fill="#022C22"></path>
                                    </g>
                                </svg>
                            </a>
                            <a href="#" class="inline-block mr-4">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-6">
                                    <path
                                        d="M7.8 2H16.2C19.4 2 22 4.6 22 7.8V16.2C22 17.7383 21.3889 19.2135 20.3012 20.3012C19.2135 21.3889 17.7383 22 16.2 22H7.8C4.6 22 2 19.4 2 16.2V7.8C2 6.26174 2.61107 4.78649 3.69878 3.69878C4.78649 2.61107 6.26174 2 7.8 2ZM7.6 4C6.64522 4 5.72955 4.37928 5.05442 5.05442C4.37928 5.72955 4 6.64522 4 7.6V16.4C4 18.39 5.61 20 7.6 20H16.4C17.3548 20 18.2705 19.6207 18.9456 18.9456C19.6207 18.2705 20 17.3548 20 16.4V7.6C20 5.61 18.39 4 16.4 4H7.6ZM17.25 5.5C17.5815 5.5 17.8995 5.6317 18.1339 5.86612C18.3683 6.10054 18.5 6.41848 18.5 6.75C18.5 7.08152 18.3683 7.39946 18.1339 7.63388C17.8995 7.8683 17.5815 8 17.25 8C16.9185 8 16.6005 7.8683 16.3661 7.63388C16.1317 7.39946 16 7.08152 16 6.75C16 6.41848 16.1317 6.10054 16.3661 5.86612C16.6005 5.6317 16.9185 5.5 17.25 5.5ZM12 7C13.3261 7 14.5979 7.52678 15.5355 8.46447C16.4732 9.40215 17 10.6739 17 12C17 13.3261 16.4732 14.5979 15.5355 15.5355C14.5979 16.4732 13.3261 17 12 17C10.6739 17 9.40215 16.4732 8.46447 15.5355C7.52678 14.5979 7 13.3261 7 12C7 10.6739 7.52678 9.40215 8.46447 8.46447C9.40215 7.52678 10.6739 7 12 7ZM12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9Z"
                                        fill="currentColor"></path>
                                </svg>
                            </a>
                            <a href="#" class="inline-block">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-378f37-7">
                                    <path
                                        d="M19 3C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19ZM18.5 18.5V13.2C18.5 12.3354 18.1565 11.5062 17.5452 10.8948C16.9338 10.2835 16.1046 9.94 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17C14.6813 12.17 15.0374 12.3175 15.2999 12.5801C15.5625 12.8426 15.71 13.1987 15.71 13.57V18.5H18.5ZM6.88 8.56C7.32556 8.56 7.75288 8.383 8.06794 8.06794C8.383 7.75288 8.56 7.32556 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19C6.43178 5.19 6.00193 5.36805 5.68499 5.68499C5.36805 6.00193 5.19 6.43178 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56ZM8.27 18.5V10.13H5.5V18.5H8.27Z"
                                        fill="currentColor"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <section data-section-id="2" data-share="" data-category="call-to-action" data-component-id="3815453b_07_awz"
            class="relative py-20 md:py-24 overflow-hidden">
            <img class="absolute top-0 right-0" src="/images/landing/light-purple-right.png" alt=""
                data-config-id="img-985be4-1">
            <div class="relative container px-4 mx-auto">
                <div class="max-w-7xl mx-auto">
                    <div class="flex flex-wrap -mx-4 items-center">
                        <div class="w-full lg:w-1/2 xl:w-2/3 px-4 mb-20 lg:mb-0">
                            <div class="max-w-2xl">
                                <h1 class="font-heading text-4xl sm:text-6xl font-bold text-gray-900 mb-10">
                                    <span data-config-id="txt-985be4-6">A New Era of&nbsp;</span>
                                    <span class="font-serif italic p-text"
                                        data-config-id="txt-985be4-7">marketing</span>
                                </h1>
                                <ul class="mb-10">
                                    <li class="flex mb-4 items-center">
                                        <div
                                            class="flex flex-shrink-0 mr-3 items-center justify-center w-6 h-6 bg-green-900 rounded-full">
                                            <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" data-config-id="svg-985be4-1">
                                                <path d="M10.6666 1.5L4.24992 7.91667L1.33325 5" stroke="white"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                </path>
                                            </svg>
                                        </div>
                                        <span class="text-gray-600" data-config-id="txt-985be4-8">Real People, Real
                                            Influence – Customers share brands they love, creating authentic
                                            engagement.</span>
                                    </li>
                                    <li class="flex mb-4 items-center">
                                        <div
                                            class="flex flex-shrink-0 mr-3 items-center justify-center w-6 h-6 bg-green-900 rounded-full">
                                            <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" data-config-id="svg-985be4-2">
                                                <path d="M10.6666 1.5L4.24992 7.91667L1.33325 5" stroke="white"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                </path>
                                            </svg>
                                        </div>
                                        <span class="text-gray-600" data-config-id="txt-985be4-9">Cost-Effective, High
                                            Impact – Reach thousands for a fraction of traditional ad costs.</span>
                                    </li>
                                    <li class="flex items-center">
                                        <div
                                            class="flex flex-shrink-0 mr-3 items-center justify-center w-6 h-6 bg-green-900 rounded-full">
                                            <svg width="12" height="9" viewBox="0 0 12 9" fill="none"
                                                xmlns="http://www.w3.org/2000/svg" data-config-id="svg-985be4-3">
                                                <path d="M10.6666 1.5L4.24992 7.91667L1.33325 5" stroke="white"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                </path>
                                            </svg>
                                        </div>
                                        <span class="text-gray-600" data-config-id="txt-985be4-10">Effortless Campaign
                                            Management – Launch, track, and optimize influencer-style campaigns with
                                            ease.</span>
                                    </li>
                                </ul>
                                <div class="sm:flex items-center">
                                    <a class="btn-fill relative group inline-block w-full sm:w-auto mb-3 sm:mb-0 sm:mr-4 py-4 px-6 text-center text-white font-semibold bg-orange-900 rounded-md overflow-hidden"
                                        href="#">
                                        <div
                                            class="absolute top-0 right-full w-full h-full bg-gray-900 transform group-hover:translate-x-full group-hover:scale-102 transition duration-500">
                                        </div>
                                        <span class="relative" data-config-id="txt-985be4-11">Join Now</span>
                                    </a>
                                    <a class="btn-nofill inline-flex w-full sm:w-auto py-4 px-6 items-center justify-center text-orange-900 font-semibold border border-gray-200 hover:border-orange-900 rounded-md transition duration-200"
                                        href="#" data-config-id="txt-985be4-5">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="w-full lg:w-1/2 xl:w-1/3 px-4">
                            <div class="flex flex-wrap -mx-4 -mb-10 justify-between lg:block lg:max-w-xs lg:ml-auto">
                                <div class="w-full sm:w-1/2 lg:w-full px-4 mb-10">
                                    <div class="max-w-xs">
                                        <div
                                            class="flex w-14 h-14 mb-6 items-center justify-center bg-orange-200 rounded-full">
                                            <img src="/images/landing/icon-users.svg" alt=""
                                                data-config-id="img-985be4-2">
                                        </div>
                                        <h5 class="text-xl font-semibold text-gray-900 mb-2"
                                            data-config-id="txt-985be4-1">Authentic Word-of-Mouth</h5>
                                        <p class="text-gray-500" data-config-id="txt-985be4-3">People trust their
                                            friends more than ads. We empower real users to spread your brand
                                            organically.</p>
                                    </div>
                                </div>
                                <div class="w-full sm:w-1/2 lg:w-full px-4 mb-10">
                                    <div class="max-w-xs">
                                        <div
                                            class="flex w-14 h-14 mb-6 items-center justify-center bg-green-200 rounded-full">
                                            <img src="/images/landing/icon-building.svg" alt=""
                                                data-config-id="img-985be4-3">
                                        </div>
                                        <h5 class="text-xl font-semibold text-gray-900 mb-2"
                                            data-config-id="txt-985be4-2">Smarter Social Marketing</h5>
                                        <p class="text-gray-500" data-config-id="txt-985be4-4">Leverage peer networks
                                            for targeted reach—no more wasted ad spend on the wrong audience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section data-section-id="3" data-share="" data-category="features" data-component-id="4d2f33a1_07_awz"
            class="relative py-20 lg:py-32 overflow-hidden">
            <img class="absolute top-0 left-0" src="/images/landing/star-left.png" alt="" data-config-id="img-5b8a8b-1">
            <div class="relative container px-4 mx-auto">
                <div class="max-w-2xl mx-auto mb-20 text-center">
                    <h1 class="font-heading text-5xl xs:text-6xl md:text-7xl font-bold text-gray-900 mb-6">
                        <span data-config-id="txt-5b8a8b-6">How it</span>
                        <span class="font-serif italic p-text" data-config-id="txt-5b8a8b-7">Works</span>
                    </h1>
                    <p class="max-w-md mx-auto text-lg text-gray-500" data-config-id="txt-5b8a8b-4">Marketing, but
                        Powered by People</p>
                </div>
                <div class="max-w-7xl mx-auto px-8 py-18 xs:px-12 sm:p-24 bg-translucent-p rounded-4xl">
                    <div class="flex flex-wrap -mx-4">
                        <div class="w-full lg:w-1/2 px-4 order-last lg:order-first">
                            <div class="lg:max-w-sm">
                                <div class="flex items-center pb-12 mb-12 border-b border-gray-200 border-opacity-50">
                                    <div
                                        class="flex flex-shrink-0 w-15 h-15 mr-6 items-center justify-center bg-blue-100 rounded-full">
                                        <img src="/images/landing/icon-mouse.svg" alt="" data-config-id="img-5b8a8b-2">
                                    </div>
                                    <div>
                                        <h3 class="text-xl font-semibold" data-config-id="txt-5b8a8b-1">Create a
                                            Campaign</h3>
                                        <span class="text-sm text-gray-400" data-config-id="txt-5b8a8b-8">Set your
                                            budget, goals, and target audience.</span>
                                    </div>
                                </div>
                                <div class="flex items-center pb-12 mb-12 border-b border-gray-200 border-opacity-50">
                                    <div
                                        class="flex flex-shrink-0 w-15 h-15 mr-6 items-center justify-center bg-red-100 rounded-full">
                                        <img src="/images/landing/icon-point.svg" alt="" data-config-id="img-5b8a8b-3">
                                    </div>
                                    <div>
                                        <h3 class="text-xl font-semibold" data-config-id="txt-5b8a8b-2">Users Join &amp;
                                            Share</h3>
                                        <span class="text-sm text-gray-400" data-config-id="txt-5b8a8b-9">Participants
                                            post authentic content about your brand.</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <div
                                        class="flex flex-shrink-0 w-15 h-15 mr-6 items-center justify-center bg-yellow-300 rounded-full">
                                        <img src="/images/landing/icon-plane.svg" alt="" data-config-id="img-5b8a8b-4">
                                    </div>
                                    <div>
                                        <h3 class="text-xl font-semibold" data-config-id="txt-5b8a8b-3">Track &amp; Grow
                                        </h3>
                                        <span class="text-sm text-gray-400" data-config-id="txt-5b8a8b-10">Monitor
                                            performance and scale effortlessly.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full lg:w-1/2 px-4 mb-20 lg:mb-0">
                            <div class="flex flex-col h-full justify-between lg:max-w-md ml-auto">
                                <div class="mb-12">
                                    <h3 class="text-3xl md:text-5xl font-bold mb-5">
                                        <span data-config-id="txt-5b8a8b-11">Ready to Reach the Right&nbsp;&nbsp;</span>
                                        <span class="block" data-config-id="txt-5b8a8b-12">Audience?</span>
                                    </h3>
                                    <p class="text-gray-900" data-config-id="txt-5b8a8b-5">Ditch outdated ads. Start
                                        leveraging real social influence today!</p>
                                </div>
                                <div class="flex flex-wrap items-center justify-between">
                                    <div class="w-full xs:w-auto mb-8 sm:mb-0 mr-4">
                                        <span class="block text-3xl font-bold text-gray-900 leading-tight"
                                            data-config-id="txt-5b8a8b-13" data-removed="true">Only $50</span>
                                        <span class="text-sm text-gray-500" data-config-id="txt-5b8a8b-14"
                                            data-removed="true">for Silver package</span>
                                    </div>
                                    <a class="relative group inline-block w-full sm:w-auto py-4 px-6 text-orange-50 font-semibold dark-purp-bg rounded-full overflow-hidden"
                                        href="#">
                                        <div
                                            class="absolute top-0 right-full w-full h-full bg-gray-900 transform group-hover:translate-x-full group-hover:scale-102 transition duration-500">
                                        </div>
                                        <div class="relative flex items-center justify-center">
                                            <span class="mr-2" data-config-id="txt-5b8a8b-15">Join Waitlist</span>
                                            <span>
                                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-5b8a8b-1">
                                                    <path
                                                        d="M12.9199 0.62C12.8185 0.375651 12.6243 0.181475 12.3799 0.0799999C12.2597 0.028759 12.1306 0.00157999 11.9999 0H1.99994C1.73472 0 1.48037 0.105357 1.29283 0.292893C1.1053 0.48043 0.999939 0.734784 0.999939 1C0.999939 1.26522 1.1053 1.51957 1.29283 1.70711C1.48037 1.89464 1.73472 2 1.99994 2H9.58994L1.28994 10.29C1.19621 10.383 1.12182 10.4936 1.07105 10.6154C1.02028 10.7373 0.994141 10.868 0.994141 11C0.994141 11.132 1.02028 11.2627 1.07105 11.3846C1.12182 11.5064 1.19621 11.617 1.28994 11.71C1.3829 11.8037 1.4935 11.8781 1.61536 11.9289C1.73722 11.9797 1.86793 12.0058 1.99994 12.0058C2.13195 12.0058 2.26266 11.9797 2.38452 11.9289C2.50638 11.8781 2.61698 11.8037 2.70994 11.71L10.9999 3.41V11C10.9999 11.2652 11.1053 11.5196 11.2928 11.7071C11.4804 11.8946 11.7347 12 11.9999 12C12.2652 12 12.5195 11.8946 12.707 11.7071C12.8946 11.5196 12.9999 11.2652 12.9999 11V1C12.9984 0.869323 12.9712 0.740222 12.9199 0.62V0.62Z"
                                                        fill="#FFF2EE"></path>
                                                </svg>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section data-section-id="4" data-share="" data-category="faq" data-component-id="2b43ff56_02_awz"
            class="relative py-20 overflow-hidden">
            <img class="absolute top-0 left-0 mt-44" src="./images/landing/light-purple-left.png" alt=""
                data-config-id="img-30de18-1">
            <img class="absolute top-0 right-0 mt-10" src="./images/landing/starRight.svg" alt=""
                data-config-id="img-30de18-2">
            <div class="relative container px-4 mx-auto">
                <div class="max-w-7xl mx-auto">
                    <div class="text-center mb-24">
                        <span class="inline-block py-1 px-3 mb-4 text-xs font-semibold rounded-full"
                            style="color: #9E30FF; background: #9e30ff21;" data-config-id="txt-30de18-13">FREQUENTLY ASK
                            QUESTION</span>
                        <h1 class="font-heading text-5xl xs:text-6xl md:text-7xl font-bold">
                            <span data-config-id="txt-30de18-14">You ask? We</span>
                            <span class="font-serif italic p-text" data-config-id="txt-30de18-15">answer</span>
                        </h1>
                    </div>
                    <div class="flex flex-wrap -mx-4">
                        <div class="w-full lg:w-1/2 px-4 mb-6 lg:mb-0">
                            <div class="px-8 py-10 mb-6 bg-white rounded-3xl shadow-lg">
                                <div class="flex cursor-pointer group w-full items-start justify-between text-left"
                                    x-data="{ accordion: false }" x-on:click="accordion = !accordion">
                                    <div class="max-w-xl pr-5">
                                        <h3 class="text-xl font-semibold text-black"
                                            :class="accordion ? 'text-purple-900' : 'text-black'"
                                            data-config-id="txt-30de18-1">What is Reach Social?</h3>
                                        <div x-ref="container"
                                            :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
                                            class="overflow-hidden h-0 duration-500" style="">
                                            <p class="text-lg text-gray-500 mt-3" data-config-id="txt-30de18-7">Reach
                                                Social is a freelance marketing platform built for real social media
                                                users - no follower requirements, no fluff. Just have an account with
                                                over 3 years of activity.</p>
                                        </div>
                                    </div>
                                    <div>
                                        <span
                                            class="flex h-9 w-9 items-center justify-center rounded-full faq-light faq-dash"
                                            :class="accordion ? 'faq-bg' : 'faq-bg'">
                                            <div :class="{ 'hidden': !accordion }" class="hidden">
                                                <svg width="17" height="3" viewBox="0 0 17 3" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-1">
                                                    <path
                                                        d="M15.4619 0.045166H1.46194C1.19673 0.045166 0.942374 0.150523 0.754838 0.338059C0.567302 0.525596 0.461945 0.77995 0.461945 1.04517C0.461945 1.31038 0.567302 1.56474 0.754838 1.75227C0.942374 1.93981 1.19673 2.04517 1.46194 2.04517H15.4619C15.7272 2.04517 15.9815 1.93981 16.1691 1.75227C16.3566 1.56474 16.4619 1.31038 16.4619 1.04517C16.4619 0.77995 16.3566 0.525596 16.1691 0.338059C15.9815 0.150523 15.7272 0.045166 15.4619 0.045166Z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <div :class="{ 'hidden': accordion }">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-2">
                                                    <path
                                                        d="M12.8334 6.16671H7.83337V1.16671C7.83337 0.945694 7.74558 0.733732 7.5893 0.577452C7.43302 0.421172 7.22105 0.333374 7.00004 0.333374C6.77903 0.333374 6.56707 0.421172 6.41079 0.577452C6.2545 0.733732 6.16671 0.945694 6.16671 1.16671V6.16671H1.16671C0.945694 6.16671 0.733732 6.2545 0.577452 6.41079C0.421172 6.56707 0.333374 6.77903 0.333374 7.00004C0.333374 7.22105 0.421172 7.43302 0.577452 7.5893C0.733732 7.74558 0.945694 7.83337 1.16671 7.83337H6.16671V12.8334C6.16671 13.0544 6.2545 13.2663 6.41079 13.4226C6.56707 13.5789 6.77903 13.6667 7.00004 13.6667C7.22105 13.6667 7.43302 13.5789 7.5893 13.4226C7.74558 13.2663 7.83337 13.0544 7.83337 12.8334V7.83337H12.8334C13.0544 7.83337 13.2663 7.74558 13.4226 7.5893C13.5789 7.43302 13.6667 7.22105 13.6667 7.00004C13.6667 6.77903 13.5789 6.56707 13.4226 6.41079C13.2663 6.2545 13.0544 6.16671 12.8334 6.16671Z"
                                                        fill="#FF460C"></path>
                                                </svg>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="px-8 py-10 mb-6 bg-white rounded-3xl shadow-lg">
                                <div class="flex cursor-pointer group w-full items-start justify-between text-left"
                                    x-data="{ accordion: false }" x-on:click="accordion = !accordion">
                                    <div class="max-w-xl pr-5">
                                        <h3 class="text-xl font-semibold text-black"
                                            :class="accordion ? 'text-purple-900' : 'text-black'"
                                            data-config-id="txt-30de18-2">Does it cost money to join Reach Social? </h3>
                                        <div x-ref="container"
                                            :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
                                            class="overflow-hidden h-0 duration-500" style="">
                                            <p class="text-lg text-gray-500 mt-3" data-config-id="txt-30de18-8">No, it
                                                is free to join as a user. Brands pay you for supporting them on popular
                                                social media platforms.</p>
                                        </div>
                                    </div>
                                    <div>
                                        <span
                                            class="flex h-9 w-9 items-center justify-center rounded-full faq-light faq-dash"
                                            :class="accordion ? 'faq-bg' : 'faq-bg'">
                                            <div :class="{ 'hidden': !accordion }" class="hidden">
                                                <svg width="17" height="3" viewBox="0 0 17 3" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-3">
                                                    <path
                                                        d="M15.4619 0.045166H1.46194C1.19673 0.045166 0.942374 0.150523 0.754838 0.338059C0.567302 0.525596 0.461945 0.77995 0.461945 1.04517C0.461945 1.31038 0.567302 1.56474 0.754838 1.75227C0.942374 1.93981 1.19673 2.04517 1.46194 2.04517H15.4619C15.7272 2.04517 15.9815 1.93981 16.1691 1.75227C16.3566 1.56474 16.4619 1.31038 16.4619 1.04517C16.4619 0.77995 16.3566 0.525596 16.1691 0.338059C15.9815 0.150523 15.7272 0.045166 15.4619 0.045166Z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <div :class="{ 'hidden': accordion }">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-4">
                                                    <path
                                                        d="M12.8334 6.16671H7.83337V1.16671C7.83337 0.945694 7.74558 0.733732 7.5893 0.577452C7.43302 0.421172 7.22105 0.333374 7.00004 0.333374C6.77903 0.333374 6.56707 0.421172 6.41079 0.577452C6.2545 0.733732 6.16671 0.945694 6.16671 1.16671V6.16671H1.16671C0.945694 6.16671 0.733732 6.2545 0.577452 6.41079C0.421172 6.56707 0.333374 6.77903 0.333374 7.00004C0.333374 7.22105 0.421172 7.43302 0.577452 7.5893C0.733732 7.74558 0.945694 7.83337 1.16671 7.83337H6.16671V12.8334C6.16671 13.0544 6.2545 13.2663 6.41079 13.4226C6.56707 13.5789 6.77903 13.6667 7.00004 13.6667C7.22105 13.6667 7.43302 13.5789 7.5893 13.4226C7.74558 13.2663 7.83337 13.0544 7.83337 12.8334V7.83337H12.8334C13.0544 7.83337 13.2663 7.74558 13.4226 7.5893C13.5789 7.43302 13.6667 7.22105 13.6667 7.00004C13.6667 6.77903 13.5789 6.56707 13.4226 6.41079C13.2663 6.2545 13.0544 6.16671 12.8334 6.16671Z"
                                                        fill="#FF460C"></path>
                                                </svg>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="px-8 py-10 bg-white rounded-3xl shadow-lg">
                                <div class="flex cursor-pointer group w-full items-start justify-between text-left"
                                    x-data="{ accordion: false }" x-on:click="accordion = !accordion">
                                    <div class="max-w-xl pr-5">
                                        <h3 class="text-xl font-semibold text-black"
                                            :class="accordion ? 'text-purple-900' : 'text-black'"
                                            data-config-id="txt-30de18-3">How do I get paid, and how much on average?
                                        </h3>
                                        <div x-ref="container"
                                            :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
                                            class="overflow-hidden h-0 duration-500" style="">
                                            <p class="text-lg text-gray-500 mt-3" data-config-id="txt-30de18-9">By
                                                simply joining campaigns and following the instructions carefully.
                                                Brands set the budget, and once the campaign tasks are fulfilled, you
                                                get paid! In your profile, you are able to outline the exact minimums
                                                that you would accept for each campaign type, so you have a say in what
                                                you get paid! Each campaign has different price points, but on average
                                                between $3-$200 for Story and Provided campaigns depending on alignment,
                                                and for UGC campaigns you can expect a lot more, normally between
                                                $50-$1,000.</p>
                                        </div>
                                    </div>
                                    <div>
                                        <span
                                            class="flex h-9 w-9 items-center justify-center rounded-full faq-light faq-dash"
                                            :class="accordion ? 'faq-bg' : 'faq-bg'">
                                            <div :class="{ 'hidden': !accordion }" class="hidden">
                                                <svg width="17" height="3" viewBox="0 0 17 3" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-5">
                                                    <path
                                                        d="M15.4619 0.045166H1.46194C1.19673 0.045166 0.942374 0.150523 0.754838 0.338059C0.567302 0.525596 0.461945 0.77995 0.461945 1.04517C0.461945 1.31038 0.567302 1.56474 0.754838 1.75227C0.942374 1.93981 1.19673 2.04517 1.46194 2.04517H15.4619C15.7272 2.04517 15.9815 1.93981 16.1691 1.75227C16.3566 1.56474 16.4619 1.31038 16.4619 1.04517C16.4619 0.77995 16.3566 0.525596 16.1691 0.338059C15.9815 0.150523 15.7272 0.045166 15.4619 0.045166Z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <div :class="{ 'hidden': accordion }">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-6">
                                                    <path
                                                        d="M12.8334 6.16671H7.83337V1.16671C7.83337 0.945694 7.74558 0.733732 7.5893 0.577452C7.43302 0.421172 7.22105 0.333374 7.00004 0.333374C6.77903 0.333374 6.56707 0.421172 6.41079 0.577452C6.2545 0.733732 6.16671 0.945694 6.16671 1.16671V6.16671H1.16671C0.945694 6.16671 0.733732 6.2545 0.577452 6.41079C0.421172 6.56707 0.333374 6.77903 0.333374 7.00004C0.333374 7.22105 0.421172 7.43302 0.577452 7.5893C0.733732 7.74558 0.945694 7.83337 1.16671 7.83337H6.16671V12.8334C6.16671 13.0544 6.2545 13.2663 6.41079 13.4226C6.56707 13.5789 6.77903 13.6667 7.00004 13.6667C7.22105 13.6667 7.43302 13.5789 7.5893 13.4226C7.74558 13.2663 7.83337 13.0544 7.83337 12.8334V7.83337H12.8334C13.0544 7.83337 13.2663 7.74558 13.4226 7.5893C13.5789 7.43302 13.6667 7.22105 13.6667 7.00004C13.6667 6.77903 13.5789 6.56707 13.4226 6.41079C13.2663 6.2545 13.0544 6.16671 12.8334 6.16671Z"
                                                        fill="#FF460C"></path>
                                                </svg>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-full lg:w-1/2 px-4">
                            <div class="px-8 py-10 mb-6 bg-white rounded-3xl shadow-lg">
                                <div class="flex cursor-pointer group w-full items-start justify-between text-left"
                                    x-data="{ accordion: false }" x-on:click="accordion = !accordion">
                                    <div class="max-w-xl pr-5">
                                        <h3 class="text-xl font-semibold text-black"
                                            :class="accordion ? 'text-purple-900' : 'text-black'"
                                            data-config-id="txt-30de18-4">How does it work?</h3>
                                        <div x-ref="container"
                                            :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
                                            class="overflow-hidden h-0 duration-500" style="">
                                            <p class="text-lg text-gray-500 mt-3" data-config-id="txt-30de18-10">Brands
                                                launch campaigns, and as a user, you can join the campaigns in a variety
                                                of ways. If you fit the campaign criteria, you can automatically join by
                                                clicking a button, if a brand thinks you are a great fit, they can
                                                invite you to join the campain directly. Lastly, if you want to join a
                                                campaign, but don't meet the requirements, you can apply to join them.
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <span
                                            class="flex h-9 w-9 items-center justify-center rounded-full faq-light faq-dash"
                                            :class="accordion ? 'faq-bg' : 'faq-bg'">
                                            <div :class="{ 'hidden': !accordion }" class="hidden">
                                                <svg width="17" height="3" viewBox="0 0 17 3" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-7">
                                                    <path
                                                        d="M15.4619 0.045166H1.46194C1.19673 0.045166 0.942374 0.150523 0.754838 0.338059C0.567302 0.525596 0.461945 0.77995 0.461945 1.04517C0.461945 1.31038 0.567302 1.56474 0.754838 1.75227C0.942374 1.93981 1.19673 2.04517 1.46194 2.04517H15.4619C15.7272 2.04517 15.9815 1.93981 16.1691 1.75227C16.3566 1.56474 16.4619 1.31038 16.4619 1.04517C16.4619 0.77995 16.3566 0.525596 16.1691 0.338059C15.9815 0.150523 15.7272 0.045166 15.4619 0.045166Z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <div :class="{ 'hidden': accordion }">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-8">
                                                    <path
                                                        d="M12.8334 6.16671H7.83337V1.16671C7.83337 0.945694 7.74558 0.733732 7.5893 0.577452C7.43302 0.421172 7.22105 0.333374 7.00004 0.333374C6.77903 0.333374 6.56707 0.421172 6.41079 0.577452C6.2545 0.733732 6.16671 0.945694 6.16671 1.16671V6.16671H1.16671C0.945694 6.16671 0.733732 6.2545 0.577452 6.41079C0.421172 6.56707 0.333374 6.77903 0.333374 7.00004C0.333374 7.22105 0.421172 7.43302 0.577452 7.5893C0.733732 7.74558 0.945694 7.83337 1.16671 7.83337H6.16671V12.8334C6.16671 13.0544 6.2545 13.2663 6.41079 13.4226C6.56707 13.5789 6.77903 13.6667 7.00004 13.6667C7.22105 13.6667 7.43302 13.5789 7.5893 13.4226C7.74558 13.2663 7.83337 13.0544 7.83337 12.8334V7.83337H12.8334C13.0544 7.83337 13.2663 7.74558 13.4226 7.5893C13.5789 7.43302 13.6667 7.22105 13.6667 7.00004C13.6667 6.77903 13.5789 6.56707 13.4226 6.41079C13.2663 6.2545 13.0544 6.16671 12.8334 6.16671Z"
                                                        fill="#FF460C"></path>
                                                </svg>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="px-8 py-10 mb-6 bg-white rounded-3xl shadow-lg">
                                <div class="flex cursor-pointer group w-full items-start justify-between text-left"
                                    x-data="{ accordion: false }" x-on:click="accordion = !accordion">
                                    <div class="max-w-xl pr-5">
                                        <h3 class="text-xl font-semibold text-black"
                                            :class="accordion ? 'text-purple-900' : 'text-black'"
                                            data-config-id="txt-30de18-5">When will Reach Social launch?</h3>
                                        <div x-ref="container"
                                            :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
                                            class="overflow-hidden h-0 duration-500" style="">
                                            <p class="text-lg text-gray-500 mt-3" data-config-id="txt-30de18-11">Not
                                                necessarily, we offer 3 campaign types. The first being what we call a
                                                "story post" where you simply snap a photo of their product, post it to
                                                your instagram story, and tag the brand. Similarly, brands can launch a
                                                campaign where they provide you the content to post it on your story,
                                                and tag the account. Lastly, if you enjoy creating content, you can join
                                                "UGC Campaigns" where you actually create a video review of the product.
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <span
                                            class="flex h-9 w-9 items-center justify-center rounded-full faq-light faq-dash"
                                            :class="accordion ? 'faq-bg' : 'faq-bg'">
                                            <div :class="{ 'hidden': !accordion }" class="hidden">
                                                <svg width="17" height="3" viewBox="0 0 17 3" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-9">
                                                    <path
                                                        d="M15.4619 0.045166H1.46194C1.19673 0.045166 0.942374 0.150523 0.754838 0.338059C0.567302 0.525596 0.461945 0.77995 0.461945 1.04517C0.461945 1.31038 0.567302 1.56474 0.754838 1.75227C0.942374 1.93981 1.19673 2.04517 1.46194 2.04517H15.4619C15.7272 2.04517 15.9815 1.93981 16.1691 1.75227C16.3566 1.56474 16.4619 1.31038 16.4619 1.04517C16.4619 0.77995 16.3566 0.525596 16.1691 0.338059C15.9815 0.150523 15.7272 0.045166 15.4619 0.045166Z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <div :class="{ 'hidden': accordion }">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-10">
                                                    <path
                                                        d="M12.8334 6.16671H7.83337V1.16671C7.83337 0.945694 7.74558 0.733732 7.5893 0.577452C7.43302 0.421172 7.22105 0.333374 7.00004 0.333374C6.77903 0.333374 6.56707 0.421172 6.41079 0.577452C6.2545 0.733732 6.16671 0.945694 6.16671 1.16671V6.16671H1.16671C0.945694 6.16671 0.733732 6.2545 0.577452 6.41079C0.421172 6.56707 0.333374 6.77903 0.333374 7.00004C0.333374 7.22105 0.421172 7.43302 0.577452 7.5893C0.733732 7.74558 0.945694 7.83337 1.16671 7.83337H6.16671V12.8334C6.16671 13.0544 6.2545 13.2663 6.41079 13.4226C6.56707 13.5789 6.77903 13.6667 7.00004 13.6667C7.22105 13.6667 7.43302 13.5789 7.5893 13.4226C7.74558 13.2663 7.83337 13.0544 7.83337 12.8334V7.83337H12.8334C13.0544 7.83337 13.2663 7.74558 13.4226 7.5893C13.5789 7.43302 13.6667 7.22105 13.6667 7.00004C13.6667 6.77903 13.5789 6.56707 13.4226 6.41079C13.2663 6.2545 13.0544 6.16671 12.8334 6.16671Z"
                                                        fill="#FF460C"></path>
                                                </svg>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="px-8 py-10 bg-white rounded-3xl shadow-lg">
                                <div class="flex cursor-pointer group w-full items-start justify-between text-left"
                                    x-data="{ accordion: false }" x-on:click="accordion = !accordion">
                                    <div class="max-w-xl pr-5">
                                        <h3 class="text-xl font-semibold text-black"
                                            :class="accordion ? 'text-purple-900' : 'text-black'"
                                            data-config-id="txt-30de18-6">When will Reach Social launch?</h3>
                                        <div x-ref="container"
                                            :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''"
                                            class="overflow-hidden h-0 duration-500" style="">
                                            <p class="text-lg text-gray-500 mt-3" data-config-id="txt-30de18-12">We are
                                                still finishing up the platform, but for now be on the lookout for our
                                                first 5 campaigns. We plan on paying our waitlist users $3 to post *this
                                                photo on their instagram story.</p>
                                        </div>
                                    </div>
                                    <div>
                                        <span
                                            class="flex h-9 w-9 items-center justify-center rounded-full faq-light faq-dash"
                                            :class="accordion ? 'faq-bg' : 'faq-bg'">
                                            <div :class="{ 'hidden': !accordion }" class="hidden">
                                                <svg width="17" height="3" viewBox="0 0 17 3" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-11">
                                                    <path
                                                        d="M15.4619 0.045166H1.46194C1.19673 0.045166 0.942374 0.150523 0.754838 0.338059C0.567302 0.525596 0.461945 0.77995 0.461945 1.04517C0.461945 1.31038 0.567302 1.56474 0.754838 1.75227C0.942374 1.93981 1.19673 2.04517 1.46194 2.04517H15.4619C15.7272 2.04517 15.9815 1.93981 16.1691 1.75227C16.3566 1.56474 16.4619 1.31038 16.4619 1.04517C16.4619 0.77995 16.3566 0.525596 16.1691 0.338059C15.9815 0.150523 15.7272 0.045166 15.4619 0.045166Z"
                                                        fill="currentColor"></path>
                                                </svg>
                                            </div>
                                            <div :class="{ 'hidden': accordion }">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg" data-config-id="svg-30de18-12">
                                                    <path
                                                        d="M12.8334 6.16671H7.83337V1.16671C7.83337 0.945694 7.74558 0.733732 7.5893 0.577452C7.43302 0.421172 7.22105 0.333374 7.00004 0.333374C6.77903 0.333374 6.56707 0.421172 6.41079 0.577452C6.2545 0.733732 6.16671 0.945694 6.16671 1.16671V6.16671H1.16671C0.945694 6.16671 0.733732 6.2545 0.577452 6.41079C0.421172 6.56707 0.333374 6.77903 0.333374 7.00004C0.333374 7.22105 0.421172 7.43302 0.577452 7.5893C0.733732 7.74558 0.945694 7.83337 1.16671 7.83337H6.16671V12.8334C6.16671 13.0544 6.2545 13.2663 6.41079 13.4226C6.56707 13.5789 6.77903 13.6667 7.00004 13.6667C7.22105 13.6667 7.43302 13.5789 7.5893 13.4226C7.74558 13.2663 7.83337 13.0544 7.83337 12.8334V7.83337H12.8334C13.0544 7.83337 13.2663 7.74558 13.4226 7.5893C13.5789 7.43302 13.6667 7.22105 13.6667 7.00004C13.6667 6.77903 13.5789 6.56707 13.4226 6.41079C13.2663 6.2545 13.0544 6.16671 12.8334 6.16671Z"
                                                        fill="#FF460C"></path>
                                                </svg>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section data-section-id="2" data-share="" data-category="footers" data-component-id="7fd1b1dd_05_awz"
            class="relative py-16 bg-white overflow-hidden">
            <img class="absolute top-0 left-0 h-full" src="/images/landing/footer-gradient.svg" alt=""
                data-config-id="img-043096-1">
            <div class="relative z-10 container px-4 mx-auto">
                <div class="flex flex-wrap justify-between items-center -m-8">
                    <div class="w-auto p-8">
                        <a href="#">
                            <img src="/images/landing/logo-light-big-1.svg" alt="" data-config-id="img-043096-2">
                        </a>
                    </div>
                    <div class="w-auto p-8">
                        <ul class="flex flex-wrap items-center -m-5">
                            <li class="p-5"><a class="text-gray-600 hover:text-gray-700 font-medium" href="#"
                                    data-config-id="txt-043096-1">About</a></li>
                            <li class="p-5"><a class="text-gray-600 hover:text-gray-700 font-medium" href="#"
                                    data-config-id="txt-043096-2">Leadership</a></li>
                            <li class="p-5"><a class="text-gray-600 hover:text-gray-700 font-medium" href="#"
                                    data-config-id="txt-043096-3">Press/News</a></li>
                            <li class="p-5"><a class="text-gray-600 hover:text-gray-700 font-medium" href="#"
                                    data-config-id="txt-043096-4">Careers/Team</a></li>
                            <li class="p-5"><a class="text-gray-600 hover:text-gray-700 font-medium" href="#"
                                    data-config-id="txt-043096-5">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="w-auto p-8">
                        <div class="flex flex-wrap -m-1.5">
                            <div class="w-auto p-1.5">
                                <a href="#">
                                    <div
                                        class="flex items-center justify-center w-8 h-8 border border-gray-300 hover:border-gray-400 rounded-full">
                                        <svg width="8" height="14" viewBox="0 0 8 14" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" data-config-id="svg-043096-1">
                                            <path
                                                d="M5.55736 5.2L5.55736 3.88C5.55736 3.308 5.69631 3 6.66894 3H7.87315V0.800003L6.02052 0.800003C3.70473 0.800003 2.77841 2.252 2.77841 3.88V5.2H0.925781L0.925781 7.4H2.77841L2.77841 14H5.55736L5.55736 7.4H7.59526L7.87315 5.2H5.55736Z"
                                                fill="#27272A"></path>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="w-auto p-1.5">
                                <a href="#">
                                    <div
                                        class="flex items-center justify-center w-8 h-8 border border-gray-300 hover:border-gray-400 rounded-full">
                                        <svg width="14" height="11" viewBox="0 0 14 11" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" data-config-id="svg-043096-2">
                                            <path
                                                d="M13.6655 1.39641C13.1901 1.60149 12.6728 1.74907 12.1399 1.80656C12.6931 1.47788 13.1074 0.958619 13.3051 0.346204C12.7859 0.655036 12.2172 0.871595 11.6241 0.986274C11.3762 0.721276 11.0764 0.510168 10.7434 0.366102C10.4104 0.222036 10.0512 0.1481 9.68836 0.148902C8.22024 0.148902 7.03953 1.33893 7.03953 2.79928C7.03953 3.00436 7.06439 3.20943 7.10478 3.40673C4.90649 3.29177 2.94589 2.24155 1.64246 0.633614C1.40495 1.03927 1.2805 1.50117 1.28203 1.97123C1.28203 2.89094 1.74965 3.70191 2.46274 4.17885C2.0425 4.1623 1.63211 4.0468 1.26494 3.84173V3.87435C1.26494 5.16226 2.17533 6.22956 3.38866 6.47502C3.16084 6.5342 2.92649 6.56447 2.69111 6.56513C2.51866 6.56513 2.35554 6.54804 2.19086 6.52474C2.52643 7.57495 3.50362 8.33775 4.66724 8.3626C3.75685 9.07569 2.61654 9.49515 1.37835 9.49515C1.15619 9.49515 0.951119 9.48738 0.738281 9.46253C1.91278 10.216 3.30632 10.651 4.80706 10.651C9.67904 10.651 12.345 6.61484 12.345 3.11155C12.345 2.99659 12.345 2.88162 12.3372 2.76666C12.853 2.38914 13.3051 1.92152 13.6655 1.39641Z"
                                                fill="#27272A"></path>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="w-auto p-1.5">
                                <a href="#">
                                    <div
                                        class="flex items-center justify-center w-8 h-8 border border-gray-300 hover:border-gray-400 rounded-full">
                                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" data-config-id="svg-043096-3">
                                            <path
                                                d="M8.00094 0.360001C6.09046 0.360001 5.85022 0.368801 5.09958 0.402241C4.34894 0.437441 3.83766 0.555361 3.38974 0.729601C2.9199 0.906321 2.49433 1.18353 2.14278 1.54184C1.78468 1.89357 1.50751 2.31909 1.33054 2.7888C1.1563 3.23584 1.0375 3.748 1.00318 4.496C0.969738 5.2484 0.960937 5.48776 0.960937 7.40088C0.960937 9.31224 0.969738 9.5516 1.00318 10.3022C1.03838 11.052 1.1563 11.5633 1.33054 12.0112C1.51094 12.4741 1.75118 12.8666 2.14278 13.2582C2.5335 13.6498 2.92598 13.8909 3.38886 14.0704C3.83766 14.2446 4.34806 14.3634 5.09782 14.3978C5.84934 14.4312 6.0887 14.44 8.00094 14.44C9.91318 14.44 10.1517 14.4312 10.9032 14.3978C11.6521 14.3626 12.1651 14.2446 12.613 14.0704C13.0826 13.8936 13.5078 13.6164 13.8591 13.2582C14.2507 12.8666 14.4909 12.4741 14.6713 12.0112C14.8447 11.5633 14.9635 11.052 14.9987 10.3022C15.0321 9.5516 15.0409 9.31224 15.0409 7.4C15.0409 5.48776 15.0321 5.2484 14.9987 4.49688C14.9635 3.748 14.8447 3.23584 14.6713 2.7888C14.4944 2.31908 14.2172 1.89356 13.8591 1.54184C13.5077 1.1834 13.0821 0.906169 12.6121 0.729601C12.1633 0.555361 11.6512 0.436561 10.9023 0.402241C10.1508 0.368801 9.9123 0.360001 7.99918 0.360001H8.00182H8.00094ZM7.36998 1.62896H8.00182C9.8815 1.62896 10.1041 1.63512 10.846 1.66944C11.5324 1.70024 11.9055 1.81552 12.1537 1.91144C12.4819 2.03904 12.7169 2.19216 12.9633 2.43856C13.2097 2.68496 13.3619 2.91904 13.4895 3.24816C13.5863 3.49544 13.7007 3.86856 13.7315 4.55496C13.7658 5.2968 13.7729 5.51944 13.7729 7.39824C13.7729 9.27704 13.7658 9.50056 13.7315 10.2424C13.7007 10.9288 13.5854 11.301 13.4895 11.5492C13.3766 11.8549 13.1965 12.1313 12.9624 12.3579C12.716 12.6043 12.4819 12.7566 12.1528 12.8842C11.9064 12.981 11.5333 13.0954 10.846 13.127C10.1041 13.1605 9.8815 13.1684 8.00182 13.1684C6.12214 13.1684 5.89862 13.1605 5.15678 13.127C4.47038 13.0954 4.09814 12.981 3.84998 12.8842C3.54418 12.7715 3.26753 12.5916 3.04038 12.3579C2.80608 12.1309 2.62565 11.8543 2.51238 11.5483C2.41646 11.301 2.30118 10.9279 2.27038 10.2415C2.23694 9.49968 2.2299 9.27704 2.2299 7.39648C2.2299 5.5168 2.23694 5.29504 2.27038 4.5532C2.30206 3.8668 2.41646 3.49368 2.51326 3.24552C2.64086 2.91728 2.79398 2.68232 3.04038 2.43592C3.28678 2.18952 3.52086 2.03728 3.84998 1.90968C4.09814 1.81288 4.47038 1.69848 5.15678 1.6668C5.80622 1.63688 6.0579 1.62808 7.36998 1.6272V1.62896ZM11.7594 2.7976C11.6485 2.7976 11.5386 2.81945 11.4361 2.86191C11.3336 2.90436 11.2405 2.96659 11.1621 3.04504C11.0836 3.12348 11.0214 3.21661 10.9789 3.31911C10.9365 3.42161 10.9146 3.53146 10.9146 3.6424C10.9146 3.75334 10.9365 3.8632 10.9789 3.96569C11.0214 4.06819 11.0836 4.16132 11.1621 4.23976C11.2405 4.31821 11.3336 4.38044 11.4361 4.42289C11.5386 4.46535 11.6485 4.4872 11.7594 4.4872C11.9835 4.4872 12.1984 4.3982 12.3568 4.23976C12.5152 4.08133 12.6042 3.86646 12.6042 3.6424C12.6042 3.41835 12.5152 3.20347 12.3568 3.04504C12.1984 2.88661 11.9835 2.7976 11.7594 2.7976ZM8.00182 3.78496C7.52228 3.77748 7.04604 3.86547 6.60084 4.0438C6.15563 4.22214 5.75035 4.48726 5.40859 4.82373C5.06683 5.1602 4.79542 5.5613 4.61016 6.00367C4.4249 6.44604 4.32949 6.92084 4.32949 7.40044C4.32949 7.88004 4.4249 8.35484 4.61016 8.79721C4.79542 9.23958 5.06683 9.64068 5.40859 9.97715C5.75035 10.3136 6.15563 10.5787 6.60084 10.7571C7.04604 10.9354 7.52228 11.0234 8.00182 11.0159C8.95093 11.0011 9.85616 10.6137 10.5221 9.93726C11.1881 9.26084 11.5613 8.34967 11.5613 7.40044C11.5613 6.45121 11.1881 5.54004 10.5221 4.86362C9.85616 4.1872 8.95093 3.79977 8.00182 3.78496ZM8.00182 5.05304C8.62427 5.05304 9.22123 5.30031 9.66137 5.74045C10.1015 6.18059 10.3488 6.77755 10.3488 7.4C10.3488 8.02245 10.1015 8.61941 9.66137 9.05955C9.22123 9.49969 8.62427 9.74696 8.00182 9.74696C7.37937 9.74696 6.78241 9.49969 6.34227 9.05955C5.90213 8.61941 5.65486 8.02245 5.65486 7.4C5.65486 6.77755 5.90213 6.18059 6.34227 5.74045C6.78241 5.30031 7.37937 5.05304 8.00182 5.05304Z"
                                                fill="#27272A"></path>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
    <script src="/scripts/landing/anchors.c54bcdd7.js" defer=""></script>


</body>

</html>